/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

hr {
    border: dotted #a9a9a9 6px;
    border-bottom: none;
    width: 4%;
    margin: auto;
    margin-bottom: 60px;
}

/* Utilities */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 10px;
}

.text-purple {
    color: #703b68;
    font-weight: bold;
}

.line-break {
    display: block;
    margin-left: 20px;
}

.block {
    display: block;
    font-style: italic;
    line-height: 1.5;
}

/* Navbar */
 .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0;
    transition: 0.5s;
}

.navbar .logo a, .navbar .logo a span {
    margin-left: 100px;
    color: #c530af;
    font-family: 'Mukta', sans-serif;
    font-family: 'Satisfy', cursive;
}

.navbar .logo a:hover {
    text-decoration: none;
}

nav .navbar-nav {
    margin-right: 100px;
}

nav .navbar-nav .nav-item .nav-link,
nav .navbar-nav .nav-item .nav-link:hover
 {
    color: #fff;
}

nav .nav-item .nav-link {
    padding: 20px;
    margin: 0 15px;
}

nav  .nav-item .nav-link:hover {
    text-decoration: none;
    background-color: #703b68;
    color: #fff;
}

/* Header */
.header-bg {
    background: url(../images/header-image.jpg) no-repeat center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.header-bg .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.header-bg .content h1 {
    font-size: 55px;
}

.header-bg .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.header-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.header-bg * {
    z-index: 1;
}

/* About Section */
.about-content {
    float: right;
    width: 50%;
    height: 100%;
    padding: 4% 2%;
    place-items: center;
}

.about-text {
    color: #333;
    width: 50%;
    float: left;
    line-height: 2rem;
    padding: 4% 0 5% 0;
    margin: 40px 0;
}

.about-image {
    float: right;
    width: 50%;
    height: 100%;
    padding-top: 5%;
    margin: 40px 0;
}

.catering-photo {
    width: 20rem;
    height: 20rem;
    margin: auto;
    display: block;
    border-radius: 50%;
}

/* Events Section */
.events-content {
    float: left;
    width: 50%;
    height: 100%;
    padding: 4% 2%;
    place-items: center;
}

.events-image {
    float: left;
    width: 50%;
    height: 100%;
    padding: 4% 0 5% 0;
    margin: 40px 0;
}

.events-text {
    color: #333;
    width: 50%;
    float: right;
    line-height: 2rem;
    padding-top: 5%;
    margin: 40px 0;
}

.events-text a {
    font-size: 1.5rem;
}

.events-text a:hover {
    text-decoration: none;
    color:#885f82;
}

.catering-photo {
    width: 20rem;
    height: 20rem;
    display: block;
    border-radius: 50%;
}

/* Images Section */
#image-section {
    flex-direction: column;
    text-align: center;
    height: 60vh;
}

#image-section .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    margin: 40px 0;
}

/* Quotation Section */
.quotation-bg {
    margin: 80px 0;
    background: url(../images/quotation-image.jpg) no-repeat center/cover;
    height: 60vh;
    position: relative;
    color: #fff;
}

.quote-mark {
    font-size: 2.5rem;
}

.quotation-text {
    margin: 50px 0;
    font-size: 1.4rem;
}

.slide-left {
    animation: slide 2s ease;
    opacity: 1;
  }

/* Contact Form */
#contact-form {
    width: 100%;
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus
 {
    outline: none;
    border-color: #885f82;
}

/* Footer */
footer {
    text-align: center;
    padding: 5px;
    background: #444;
}

footer p {
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.footer-icon {
    color: #fff;
    padding: 1%;
}

.footer-icon:hover {
    cursor: pointer;
    color: #C8C6C6;
}

/* Buttons */
.menu-btn {
    background-color: #703b68;
    font-size: 20px;
    color: #fff;
    margin: 20px 0 30px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}

.menu-btn:hover {
    text-decoration: none;
    background-color: #885f82;
    color: #fff;
}

.submit-btn {
    height: 50px;
    width: 70px;
    border-radius: 5px;
    background-color: #703b68;
    color: #fff;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.submit-btn:hover {
    background-color: #885f82;
    cursor: pointer;
}