.our-services {
    padding: 3rem 7%;
}

.our-services h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}

.main-services {
    display: flex;
    justify-content: center;
    //gap: 10px;
}

.inner-services {
    padding: 3rem 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.inner-services:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.inner-services .service-icons {
    width: 50px;
    height: 50px;
    background: #333;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.inner-services .service-icons i {
    color: white;
    font-size: 1.5rem;
}

.inner-services p {
    padding: 0 2rem;
    font-size: 20px;
}