/* Events Section */
.pricing {
    &-text {
        color: $text-colour;
        width: 50%;
        float: right;
        line-height: 2rem;
        margin: 40px 0;
    }

    &-image {
        float: left;
        width: 50%;
        height: 50%;
        padding: 4% 0 5% 0;

        &-photo {
            width: 20rem;
            height: 20rem;
            margin: auto;

            display: block;
            border-radius: 50%;
        }
    }
}

/* Quotation Section */
.quotation {
    &-bg {
        margin: 80px 0;
        background: $quote-image no-repeat center/cover;
        height: 60vh;
        position: relative;
        color: #fff;

        .quote-mark {
            font-size: 2.5rem;
        }
    }

    &-text {
        margin: 50px 0;
        font-size: 1.7rem;
    }
}