/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0;
    transition: 0.5s;

    &-logo {
        margin-left: 100px;
        cursor: pointer;
    }

    &-logo-text:hover {
        text-decoration: none;
        color: $logo-colour;
    }

    &-nav {
        margin-right: 100px;

        .nav-link {
            padding: 20px;
            margin: 0 15px;
            color: #fff;
        }

        .nav-link:hover {
            text-decoration: underline;
            text-decoration-color: $main-colour;
            text-decoration-thickness: 5px;
        }
    }
}

/* Header */
.header {
    &-bg {
        background: $header-image no-repeat center/cover;
        height: 100vh;
        position: relative;
        color: #fff;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
        }

        * {
            z-index: 1;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100%;
            padding: 0 20px;

            h1 {
                font-size: 55px;
            }

            p {
                font-size: 23px;
                max-width: 600px;
                margin: 20px 0 30px;
            }
        }
    }
}