@media (max-width: 780px) {
    .navbar {
        &-logo {
            display: none;
        }

        &-nav {
            text-align: center;
            justify-content: center;
            align-items: center;
            position: absolute;
            padding: 0;
            right: 15%;
            left: 30%;
        }
    }

    #about-section .about-text,
    #about-section .about-image,
    #events-section .events-text,
    #events-section .events-image {
        float: none;
        width: auto;
    }

    #image-section .images {
        transform: scale(0.8);
    }
}

@media (max-width: 751px) {
    .navbar {
        &-nav {
            margin-bottom: 15px;
        }

        &-link {
           margin: 0;
        }
    }
}

@media (max-width: 600px) {
    .header {
        &-bg {
            height: 80vh;

            .content h1 {
                font-size: 30px;
            }

            .content p {
                font-size: 15px;
            }

            .menu-btn {
                font-size: 15px;
                margin: 10px 0 20px;
                padding: 10px;
            }
        }
    }

    #image-section .images {
        transform: scale(0.7);
    }

    .quotation {
        &-text {
            margin: 50px 0;
            font-size: 1.2rem;
        }

        &-mark {
            font-size: 1.5rem;
        }
    }
}