@media(max-width: 1024px) {
    .navbar {

        &-nav {
            text-align: center;
            justify-content: center;
            align-items: center;
            position: absolute;
            padding: 0;
            right: 15%;
            left: 30%;
            margin-bottom: 15px;
        }

        &-link {
            margin: 0;
        }
    }

    .header {
        &-bg {
            height: 80vh;

            .content h1 {
                font-size: 35px;
            }

            .content p {
                font-size: 15px;
            }

            .menu-btn {
                font-size: 15px;
                margin: 10px 0 20px;
                padding: 10px;
            }
        }
    }

    #about-section .about-text,
    #about-section .about-image,
    #pricing-section .pricing-text,
    #pricing-section .pricing-image {
        float: none;
        width: auto;
    }

    .about-image,
    .pricing-image {
        &-photo {
            width: 15rem;
            height: 15rem;
        }
    }

    .sponsors {
        &-content {
            img {
                width: 15%;
                height: 15%;
                //margin: 20px;
            }
        }
    }

    .quotation {
        &-bg {
            height: 30vh;
        }

        &-mark {
            font-size: 1.5rem;
        }
    }
}