/* Quotation Section */
.quotation {
    &-bg {
        margin: 80px 0;
        background: $quote-image no-repeat center/cover;
        height: 60vh;
        position: relative;
        color: #fff;

        .quote-mark {
            font-size: 2.5rem;
        }
    }

    &-text {
        font-family: $quote-font;
        margin: 50px 0;
        font-size: 1.7rem;
    }
}