.sponsors {
    &-content {
        display: flex;
        justify-content: center;

        h1 {
            font-family: $section-font;
            text-align: center;
            margin: 30px;
        }

        img {
            width: 20%;
            height: 20%;
            margin: 20px;
        }
    }
}