/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

//General Styles
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: $text-colour;
}

ul {
    list-style: none;
}

a {
    color: $text-colour;
    text-decoration: none;
}

h1 {
    font-family: $section-font;
    font-weight: 300;
    line-height: 1.2;
}

p {
    font-family: $regular-font;
    margin: 10px 0;
}

hr {
    border: dotted #a9a9a9 6px;
    border-bottom: none;
    width: 4%;
    margin: auto;
    margin-bottom: 60px;
}

/* Utilities */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 10px;
}

.text-blue {
    color: $main-colour;
    font-weight: bold;
}

.block {
    display: block;
    font-style: italic;
    line-height: 1.5;
}

//Background
.bg {
    &-blue {
        background-color: $secondary-colour;
        color: #fff;
    }
}

/* Buttons */
.btn {
    background-color: $main-colour;
    color: #fff;
    margin: 20px 0 30px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
    font-family: $regular-font;
}

.btn:hover {
    text-decoration: none;
    background-color: $secondary-colour;
    color: #fff;
}