//Colours
$main-colour: #00b4d8;
$secondary-colour: #5ec7da;
$text-colour: #333;
$logo-colour: #c530af;

//Images
$header-image: url("../dist/images/header-image.jpg");
$quote-image: url("../dist/images/quotation-image.jpg");