//Colours
$main-colour: #00b4d8;
$secondary-colour: #5ec7da;
$text-colour: #333;
$logo-colour: #c530af;

//Fonts
$header-font: 'Patua One', cursive;
$section-font: 'Abril Fatface', cursive;
$quote-font: 'Inconsolata', monospace;
$regular-font: 'Roboto Slab', serif;


//Images
$header-image: url("../dist/images/header-image.jpg");
$quote-image: url("../dist/images/quotation-image.jpg");