/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-weight: 300;
  line-height: 1.2;
}

p {
  font-family: "Roboto Slab", serif;
  margin: 10px 0;
}

hr {
  border: dotted #a9a9a9 6px;
  border-bottom: none;
  width: 4%;
  margin: auto;
  margin-bottom: 60px;
}

/* Utilities */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 10px;
}

.text-blue {
  color: #00b4d8;
  font-weight: bold;
}

.block {
  display: block;
  font-style: italic;
  line-height: 1.5;
}

.bg-blue {
  background-color: #5ec7da;
  color: #fff;
}

/* Buttons */
.btn {
  background-color: #00b4d8;
  color: #fff;
  margin: 20px 0 30px;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Roboto Slab", serif;
}

.btn:hover {
  text-decoration: none;
  background-color: #5ec7da;
  color: #fff;
}

/* Navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #444;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-logo {
  margin-left: 100px;
  cursor: pointer;
}

.navbar-nav {
  margin-right: 100px;
}

.navbar-nav .nav-link {
  padding: 20px;
  margin: 0 15px;
  color: #fff;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #00b4d8;
          text-decoration-color: #00b4d8;
  text-decoration-thickness: 5px;
}

/* Header */
.header-bg {
  background: url("../dist/images/header-image.jpg") no-repeat center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.header-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.header-bg * {
  z-index: 1;
}

.header-bg .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.header-bg .content h1 {
  font-family: "Patua One", cursive;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 5px;
}

.header-bg .content h1 span {
  line-height: 5rem;
}

.header-bg .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.header-bg a {
  height: 50px;
  width: 150px;
  font-size: 1.3rem;
  font-weight: bold;
}

/* About Section */
.about-content, .pricing-content {
  height: 100%;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-content h1, .pricing-content h1 {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 5px;
}

.about-text, .pricing-text {
  color: #333;
  line-height: 2rem;
  padding: 4% 0 5% 0;
  margin: 40px 0;
}

.sponsors-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sponsors-content h1 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
  margin: 30px;
}

.sponsors-content img {
  width: 20%;
  height: 20%;
  margin: 20px;
}

/* Quotation Section */
.quotation-bg {
  margin: 80px 0;
  background: url("../dist/images/quotation-image.jpg") no-repeat center/cover;
  position: relative;
  color: #fff;
}

.quotation-bg .quote-mark {
  font-size: 2.5rem;
}

.quotation-text {
  font-family: "Inconsolata", monospace;
  margin: 50px 0;
  font-size: 1.7rem;
}

/* Contact Form */
#contact-form {
  width: 100%;
  margin-bottom: 20px;
}

#contact-form h1 {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 5px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
  font-family: "Roboto Slab", serif;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #5ec7da;
}

#contact-form .telephone,
#contact-form .email {
  display: inline-block;
}

#contact-form .telephone input,
#contact-form .email input {
  width: 200%;
}

#contact-form .email {
  margin-left: 300px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 5px;
  background: #444;
}

.footer-icon {
  color: #fff;
  padding: 1%;
}

.footer-icon:hover {
  cursor: pointer;
  color: #C8C6C6;
}

.footer p {
  text-align: center;
  color: #fff;
  padding: 10px 0;
}

@media (max-width: 1024px) {
  .navbar-logo {
    display: none;
  }
  .navbar-nav {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    padding: 0;
    right: 15%;
    left: 30%;
    margin-bottom: 15px;
  }
  .navbar-link {
    margin: 0;
  }
  .header-bg {
    height: 80vh;
  }
  .header-bg .content h1 {
    font-size: 35px;
  }
  .header-bg .content p {
    font-size: 15px;
  }
  .header-bg .menu-btn {
    font-size: 15px;
    margin: 10px 0 20px;
    padding: 10px;
  }
  #about-section .about-text,
  #about-section .about-image,
  #pricing-section .pricing-text,
  #pricing-section .pricing-image {
    float: none;
    width: auto;
  }
  .about-image-photo,
  .pricing-image-photo {
    width: 15rem;
    height: 15rem;
  }
  .sponsors-content img {
    width: 10%;
    height: 10%;
    margin: 20px;
  }
  .quotation-bg {
    height: 30vh;
  }
  .quotation-mark {
    font-size: 1.5rem;
  }
  #contact-form .telephone,
  #contact-form .email {
    display: block;
    width: 50%;
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */